main:
  # Worker threads
  workers: 4
  # Listen port
  port: 31080
  # Listen address (ipv4|ipv6)
  listen-address: 0.0.0.0
  # DNS server address (ipv4|ipv6)
  dns-address: 127.0.0.1
  # Resolve domain to IPv6 address first
  ipv6-first: false

# auth:
#  username: sanjin
#  password: sanjin

misc:
  # null, stdout, stderr or file-path
  log-file: stdout
  # warn, debug, info or error
  log-level: warn
